.counter{
    display: flex;
    height: fit-content;
    margin: 4px;
}
.counter p{
    margin: 0;
    border-style: solid;
    border:  2px solid rgb(20, 16, 214);
    text-align: center;
    padding-top: 2px;
}
.minusButton{
    height: 25px;
    width: 25px;
    border-radius: 5px 0 0 5px;
    text-align: center;
    border:  3px outset rgb(17, 36, 204);
}
.minusButton:hover{
    border: 3px inset rgb(63, 53, 206);
    font-weight: bold;
}
.plusButton{
    height: 25px;
    width: 25px;
    border-radius: 0 5px 5px 0;
    text-align: center;
    border:  3px outset rgb(19, 45, 189);
    font-weight: bold;
}
.plusButton:hover{
    border: 3px inset rgb(47, 36, 146);
    
}

.addToCartButton{
    width: 80px;
    border:  3px outset rgb(39, 21, 194);
    border-radius: 5px;
    font-weight: bold;

}
.buttonContainer{
    display: flex;
}
.purchaseMore{
    margin: 2px;
    border:  3px outset green;
}
.toBasket{
    margin: 2px;
    border:  3px outset crimson;
}