/* Mios */
body{
  background-color: rgb(0, 0, 0);
  font-size: 18;
  font-family: 'Helvetica', 'Arial', sans-serif;
  color: #ffffff;
}
#root{
  display: flex;
  flex-direction: column;
  align-items: center;
}
